@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* #FFFFFF */
    --foreground: 224 71.4% 4.1%; /* #0F172A */
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 222.2 47.4% 11.2%; /* #2563EB */
    --primary-foreground: 210 40% 98%;
    --secondary: 262.1 83.3% 57.8%; /* #9333EA */
    --secondary-foreground: 210 40% 98%;
    --muted: 210 40% 96.1%; /* #F3F4F6 */
    --muted-foreground: 215.4 16.3% 46.9%; /* #6B7280 */
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%; /* #DC2626 */
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 47.4% 11.2%;
    --radius: 1rem;
  }

  .dark {
    --background: 222.9 30.3% 8.6%; /* #0B1220 */
    --foreground: 210 40% 98%; /* #F8FAFC */
    --card: 224 71.4% 4.1%; /* #0F172A */
    --card-foreground: 210 40% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 40% 98%;
    --primary: 221 83% 53%; /* #2563EB */
    --primary-foreground: 210 40% 98%;
    --secondary: 262 84% 59%; /* #9333EA */
    --secondary-foreground: 210 40% 98%;
    --muted: 222 47.4% 11.2%; /* #111827 */
    --muted-foreground: 217.2 32.6% 17.5%; /* #9CA3AF */
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%; /* #DC2626 */
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
